<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<script id="personTemplate" type="text/template">
			<strong><%= name %></strong> (<%= age %>) - <%= occupation %>
			<button class="edit">Edit</button>
			<button class="delete">Delete</button>
		</script>

		<form id="addPerson" action="">
			<input type="text" placeholder="Name of the person">
			<input type="submit" value="Add Person">
		</form>

		<script src="vendor/undescore.js"></script>
	    <script src="vendor/jquery.js"> </script>
	    <script src="vendor/backbone.js"></script>
		<script src="main.js"></script>
	</body>
</html>
